body{
	background-color: rgba(0,0,0,0.2);
	background-image: url("../img/fondo.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.principal, .formulario{
	background-color: rgba(0,0,0,0.2);
	color: white;
	width: 540px;
    height: 620px;
    margin-left: 434px; 
}
.titulo{
	background-image: url("../img/logo.png");
	align-content: center;
	width: 560px;
	height: 100px;
	background-repeat: no-repeat;
}
.mensaje{
	font-family: "Hind Madurai";
	font-size: 20px;
	text-align: center;
	margin-top: 90px;
}

#botonInicio {
	color: white;
	background-color: #8D1740;
	text-decoration: none;
	border-radius: 4px;
	padding: 2px;
	margin-left: 10px;
}

#botonInicio:hover {
	background: rgba(103, 58, 183, 0.44);
}

